<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Employees</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Coil Snake</string>
			<key>JobTitle</key>
			<string>Harm Inflicter</string>
			<key>DateOfBirth</key>
			<date>1992-12-07T09:17:25Z</date>
			<key>YearsEmployed</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Cop</string>
			<key>JobTitle</key>
			<string>Rule Enforcer</string>
			<key>DateOfBirth</key>
			<date>1967-06-19T08:17:25Z</date>
			<key>YearsEmployed</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Evil Eye</string>
			<key>JobTitle</key>
			<string>CEO</string>
			<key>DateOfBirth</key>
			<date>1996-02-29T09:17:25Z</date>
			<key>YearsEmployed</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Attack Slug</string>
			<key>JobTitle</key>
			<string>Pest</string>
			<key>DateOfBirth</key>
			<date>1972-09-01T08:17:25Z</date>
			<key>YearsEmployed</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Ghost of Starman</string>
			<key>JobTitle</key>
			<string>Disgruntled Employee</string>
			<key>DateOfBirth</key>
			<date>1800-12-31T09:10:23Z</date>
			<key>YearsEmployed</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Mechanical Octobot</string>
			<key>JobTitle</key>
			<string>Custodian</string>
			<key>DateOfBirth</key>
			<date>2010-01-18T09:17:25Z</date>
			<key>YearsEmployed</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Pogo Punk</string>
			<key>JobTitle</key>
			<string>Community Director</string>
			<key>DateOfBirth</key>
			<date>1986-10-29T09:17:25Z</date>
			<key>YearsEmployed</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Ramblin&apos; Evil Mushroom</string>
			<key>JobTitle</key>
			<string>VP of Acquisitions</string>
			<key>DateOfBirth</key>
			<date>1987-08-25T08:17:25Z</date>
			<key>YearsEmployed</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Rowdy Mouse</string>
			<key>JobTitle</key>
			<string>Creative Director</string>
			<key>DateOfBirth</key>
			<date>1989-07-24T08:17:25Z</date>
			<key>YearsEmployed</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Runaway Dog</string>
			<key>JobTitle</key>
			<string>Company Mascot</string>
			<key>DateOfBirth</key>
			<date>2007-01-01T09:17:25Z</date>
			<key>YearsEmployed</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Black Antoid</string>
			<key>JobTitle</key>
			<string>Nuisance</string>
			<key>DateOfBirth</key>
			<date>1989-03-18T09:17:25Z</date>
			<key>YearsEmployed</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Skate Punk</string>
			<key>JobTitle</key>
			<string>iOS Developer</string>
			<key>DateOfBirth</key>
			<date>1985-03-06T09:17:25Z</date>
			<key>YearsEmployed</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Spiteful Crow</string>
			<key>JobTitle</key>
			<string>Backend Developer</string>
			<key>DateOfBirth</key>
			<date>1990-07-15T08:17:25Z</date>
			<key>YearsEmployed</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Yes Man Junior</string>
			<key>JobTitle</key>
			<string>Assistant to the CEO</string>
			<key>DateOfBirth</key>
			<date>1978-04-06T09:17:25Z</date>
			<key>YearsEmployed</key>
			<integer>6</integer>
		</dict>
	</array>
</dict>
</plist>
